* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --text: #e8e6e3;
  --text-dark-grey: #b7b0a7;
  --border: #8c8273;
  --border-dark-grey: #383d3f;
  --color-black: #000000;
  --bg-button: #00a688;
  --bg-dark-grey: #3b4042;
  --bg-background-dark: #141617;
  --bg-light-grey: #282c2d;
  --bg-light: #f0f0f5;
  --warning: #ff6d91;
}

/* reset */
button,
fieldset,
input {
  all: unset;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  background-color: var(--bg-light);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

/* ::-webkit-scrollbar {
  width: 0.75em;
  height: 0.75em;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: none;
  padding: 10px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #909eb0;
  border-radius: 100vh;
  border: 2px solid #edf2f7;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #565f69;
}  */
